.lb-badge {
   position: relative;
}
.lb-badge[data-lb-badge]::after {
   content: attr(data-lb-badge);
   position: absolute;
   top: -10px;
   right: -10px;
   background: #dc3545;
   color: white;
   text-align:center;
   border-radius: .25rem;
   z-index: 10;
   padding: 0 .25rem;
   font-size: .9rem;
}